@import 'utils.module';

.loginButtons{
    display:flex;
    width:40%;

    justify-content: space-evenly;
}
.button{
    height:50px;
    min-width:200px;
    font-family: $content-font;
    letter-spacing: 1.5px;
    background-color: $ui-control;
    border-style:none;
    border: .5px solid $ui-control;
    border-radius:5px;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
    -webkit-transition: background-color 1s;
    user-select: none;
}
.button:hover{
    background-color: $ui-control-hover;
    cursor: pointer;
    -webkit-transition: background-color 1s;
}
.fontUIControl{
    text-decoration: none;
    display:flex;
    justify-content: center;
    align-items: center;
}