@import 'utils.module';
@import 'loginpage.module';
.signUpForm{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
    width:40%;
    margin:0 auto;
    border-radius: 5px;
    padding:2%;
    box-shadow: 0px 0px 10px 7px rgba(0,0,0,0.3);
    label{
        text-align:center;
        margin:1%;
        font-family: $heading-font;
    }
    input{
        width:40%;
        margin:1%;
        height:40px;
        border-style:none;
        border: 0.6px solid rgba(0,0,0,0.7);
        border-radius: 5px;
        font-family: $content-font;
        letter-spacing: .5px;
        padding-left:2%;
    }
    input:last-of-type{
        margin-bottom:7.5%;
    }
}